.brand-gradient {
  background: #48cf1b;
  background: linear-gradient(to top, #48cf1b 0%, #b799cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-holder,
.main-page-header {
  background-image: url(img/post.jpg);
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 100%;
}

.custom-nav {
  backdrop-filter: blur(8px);
}

.bi-star-fill,
.bi-star-half {
  color: yellow;
}

.bi-cart3 {
  color: black;
}

.bi-fire {
  color: red;
}
